.adminPage{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20vh;
  margin-top: 4vh;
}

.titleAdminPage{
  font-size: 4vh;
}

.btnUpdDb{
  background: grey;
  width: 17vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 5vh;
  border-radius: 4px;
  margin-top: 4vh;
}

#usersTable{
  margin-top: 10vh;
}

#deleteUserBin{
  text-align: center;
}

#deleteUserBin:hover{
  cursor: pointer;
}

