.forgetPwdPage{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 100%;
  background: #B40C25;
}

.logoForget{
  margin-bottom: 2rem;
  margin-top: 5.5rem;
}

.titleForget{
  color: white;
  font-family: 'Arial', sans-serif;
  font-size: 1.7rem;
}

.formSignin{
  width: 25rem;
  max-width: 80%;
  margin-top: 3rem
}

#mail{
  box-shadow: 0 .5rem 0.5rem rgba(0,0,0,.15)!important;
}


.btnValidResetPwd{
  background: #FEE066;
  color: #6B6B6B;
  border-radius: 0.8rem;
  font-weight: bold;
  border: none;
  box-shadow: 0 .5rem 0.5rem rgba(0,0,0,.15)!important;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.btnValidResetPwd:active, .btnValidResetPwd:focus, .btnValidResetPwd:hover {
  background: #FEE066 !important;
}

.signupLink{
  color: white;
  text-decoration: underline;
}

.signupLink:hover{
  color: white;
  text-decoration: none;
}


