.foot {
  position: relative;
  margin-top: auto;
  font-family: 'Hiragino Sans', sans-serif;
  padding-bottom: 0;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

/*contact*/
#triangle-footer-contact {
  width: 100%;
  height: 0;
  border-bottom: 40px solid #B40C25;
  border-left: 100% solid #FFFFFF;
}

.foot-div-, .foot-div-series, .foot-div-legal, .foot-div-contact, .foot-div-account, .foot-div-offers, .foot-div-pricing, .foot-div-admin{
  position: relative;
  margin-top: auto;
  display: flex;
  justify-content: center;
  z-index: 1;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  background-color: #B40C25;
}

.foot-div-:after, .foot-div-series:after, .foot-div-account:after, .foot-div-legal:after, .foot-div-contact:after, .foot-div-signin:after, .foot-div-signup:after, .foot-div-offers:after, .foot-div-pricing:after, .foot-div-resetpwd:after, .foot-div-admin:after{
  position: absolute;
  height: 100%;
  content: '';
  background: inherit;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left; // reference point
  transform: skewY(-2deg); // skewing downwards at the given angle counterclockwise.
  // https://www.youtube.com/watch?v=6QGOhCZLdhs
}
/*signin*/
#triangle-footer-signin {
  width: 100%;
  height: 0;
  border-bottom: 40px solid #FFFFFF;
  border-left: 100% solid #B40C25;
}

.foot-div-signin, .foot-div-signup , .foot-div-resetpwd{
  position: relative;
  margin-top: auto;
  display: flex;
  justify-content: center;
  z-index: 1;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  background-color: #FFFFFF;
  color: #707070;
}

.foot-div-signin> * {
  color: black;
}

.copyright {
  display: flex;
  justify-content: center;
  bottom: 0;
  text-align: center;
  font-size: small;
}
.copyright-, .copyright-contact, .copyright-series, .copyright-account, .copyright-legal, .copyright-offers, .copyright-pricing, .copyright-admin{
  color: #FFFFFF;
}

.copyright-signin, .copyright-signup, .linkNav-foot-resetpwd{
  color: #707070;
}

.linkNav-foot- , .linkNav-foot-contact , .linkNav-foot-series, .linkNav-foot-account, .linkNav-foot-legal{
  color: #FFFFFF;
}

.linkNav-foot-signin, .linkNav-foot-signup, .linkNav-foot-resetpwd {
  color: #000000;
}

.linkNav-foot-signin:hover, .linkNav-foot-signup:hover, .linkNav-foot-resetpwd:hover {
  color: #707070;
}

.remove-all-margin-padding {
  margin: 0 ! important;
  padding: 0 ! important;
}

.linkNav-foot {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin: 0;
}

