
.foot {
  position: relative;
  margin-top: auto;
  font-family: 'Hiragino Sans', sans-serif;
  padding-bottom: 0;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

/*acceuil*/
#triangle-footer-{
  width: 100vw;
  height: 0;
  border-bottom: 40px solid #B40C25;
  border-left: 100vw solid #9e9e9e;
}
.foot-div- {
  position: relative;
  margin-top: auto;
  display: flex;
  justify-content: center;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 70px;
  background-color: #B40C25;
}

/*contact*/
#triangle-footer-contact{
  width: 100vw;
  height: 0;
  border-bottom: 40px solid #B40C25;
  border-left: 100vw solid #FFFFFF;
}
.foot-div-contact {
  position: relative;
  margin-top: auto;
  display: flex;
  justify-content: center;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 70px;
  background-color: #B40C25;
}

/*signin*/
#triangle-footer-signin{
  width: 100vw;
  height: 0;
  border-bottom: 40px solid #FFFFFF;
  border-left: 100vw solid #B40C25;
}
.foot-div-signin {
  position: relative;
  margin-top: auto;
  display: flex;
  justify-content: center;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 70px;
  background-color: #FFFFFF;
  color: #707070 !important;
}

.foot-div-signin >.navbar .nav-pills >li >a {
  color: black;
} 


.copyright{
  position:absolute;
  width:100%;
  bottom:0;
  text-align:center;
  font-size: small;
}

.container{
  position:absolute;
  width:100%;
  bottom:0;
  text-align:center;
  font-size: small;
  margin: 0;
  padding: 0;
}

.remove-all-margin-padding{
  margin:0 ! important;
  padding:0 ! important;
  }
