.home {
  position: relative;
  margin: 0;
  margin-top: auto;
  height: auto;
  padding-bottom: 0;
  width: 100vw;
}

.top10_1 {
  position: relative;
  margin-top: -40px;
  // width: 100vw;
  bottom: 0px;
  z-index: 1;
  height: auto;
  width: 100vw;
  background: #AF0C25 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #FFFFFF;
}

.top10_1:after {
  position: absolute;
  // width: 100vw;
  height: 100%;
  content: '';
  background: inherit;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left; // reference point
  transform: skewY(-5deg); // skewing downwards at the given angle counterclockwise.
  // https://www.youtube.com/watch?v=6QGOhCZLdhs
}

.top10_2 {
  // mask: url(../../assets/hexagones.svg) no-repeat;
}

.winner {
  text-align: center;
}

.expert-triangle-top {
  display: block;
  border-right: 100vw solid transparent;
  border-bottom: 5rem solid #9e9e9e;
}

#experts-img {
  position: relative;
  left: 0;
  bottom: 120px;
}

#experts {
  position: relative;
  left: 0;
  bottom: 120px;
}

.responsive {
  max-width: 35%;
  height: auto;
}

.expert_panel {
  padding-top: 50px;
  // width: 100vw;
  background: #9e9e9e;
}

.expert-img {
  text-align: left;
}

.img-overlay-wrap {
  object-fit: cover;
  max-width: 250px;
  max-height: 300px;
  min-width: 200px;
  min-height: 175px;
  height: 225px;
  width: 200px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin-left: 10px;
  margin-right: 10px;
}

.row_top10_2{
  display: flex;
  justify-content: center;
  position: relative;
  top: 25px;
}

.row2_top10_2{
  display: flex;
  justify-content: center;
  position: relative;
  top: 25px;
}

// .img-overlay-wrap {
//   object-fit: cover;
//   max-width: 250px;
//   max-height: 300px;
//   height: 200px;
//   width: 225px;
//   clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
//   margin-left: 10px;
//   margin-right: 10px;
// }

// .row_top10_2{
//   display: flex;
//   justify-content: center;
//   position: relative;
//   top: 20px;
// }