// .home{
//   position: relative;
//   margin: 0;
//   margin-top: auto;
//   width: 100%;
//   height: auto;
//   padding: 50px;
// }

.home{
  position: relative;
  margin: 0;
  margin-top: auto;
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

.top10_1 {
  position: relative;
  margin-top: auto;
  bottom:0px;
  z-index: 1;
  height: auto;
  width: 100%;
  background: #AF0C25 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #FFFFFF;
}

.top10_1:after{
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left; // reference point
  transform: skewY(-4deg);    // skewing downwards at the given angle counterclockwise.
  // https://www.youtube.com/watch?v=6QGOhCZLdhs
}

.top10_2{
  mask: url(../../assets/hexagones.svg) no-repeat;
}

.winner{
  text-align: center;
}