.serie-card {
  position: relative;
  margin: 15px;
  transition: transform .2s;
  width: 250px;

  img {
    display: block;
    width: 250px;
    border-radius: 10px;
  }

  .info-serie {
    position: absolute;
    opacity: 0;
    width: 100vw;
    transition: opacity .3s;
    bottom: 0;
    color: white;
    margin: 12px;
    word-break: normal;

    p {
      max-width: 220px;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 0%;
    width: 100vw;
    border-radius: 10px;
    bottom: 0;
    transition: height 0.1s ease-out;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
  }

  &:hover {
    transform: scale(1.1);
  }

  &:hover::before {
    height: 100%;
  }

  &:hover .info-serie {
    opacity: 1;
  }
}

.overview-header {
  position: relative;
  padding: 25px 0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(64, 72, 82, .8);
  }
}

.header-player {
  position: relative;
  margin-bottom: 15px;

  iframe {
    left: 0;
    margin-left: 0;
    width: 100vw;
    opacity: 1;
    border: none;
  }
}

.title {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 25px;

  &.title-small {
    font-size: 28px;
  }
}

.title-serie {
  position: relative;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.73);
  color: white;
}

.details-comment {
  position: relative;
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 1.875rem;
  border-radius: 3px;
}

.details-comment-avatar {
  position: absolute;
  display: block;
  left: 10px;
  width: 54px;
  height: 54px;
  border-radius: 50px;
  box-shadow: 0 1px 9px #e0e0e0, inset 0 0 2px hsla(0, 0%, 84%, .75);
}

.details-comment-body {
  margin-left: 70px;
}

.details-comment-author,
.details-comment-date,
.details-comment-rating {
  margin-right: 10px;
}

.details-comment-rating {
  vertical-align: middle;
}

.details-comment-author {
  font-weight: 700;
  font-size: 18px;
}

.details-comment-date {
  font-size: .7rem;
  color: #9e9e9e;
}

.details-comment-text {
  p {
    margin-bottom: 0;
    margin: 1rem 0;
  }
}