html, body, #app, #app>div {
  height: 100%
}

#root{
  height: 100%;
  display: flex;
}

#root>*{
  display: flex;
  flex-direction: column;
}

.fix-100vw{
  width: 100vw;
}

.remove-all-margin-padding {
  margin: 0 ! important;
  padding: 0 ! important;
}
